span.is-primary {
  color: #00d1b2;
}

section.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

section.has-tabs {
  padding-bottom: 0;
}

section.is-primary .title, section.is-primary .subtitle {
  color: #fff;
}

section.has-tabs .subtitle {
  margin-bottom: 3rem;
}

.tabs ul, .tabs.is-boxed a:hover {
  border-bottom-color: transparent;
}

.tabs a {
  color: #fff;
}

.tabs.is-boxed li.is-active a {
  border-color: transparent;
}

.tabs.is-boxed li.is-active a:hover {
  color: #00d1b2;
}

.tabs.is-boxed a:hover {
  background-color: rgba(0,0,0,0.05);
  color: #fff;
}

.tabs li.is-active a {
  color: #00d1b2;
}

.github-buttons {
  margin-top: 1rem;
}

.navbar>.container {
  border-bottom-color: #eee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.section-title {
  margin-bottom: 4rem;
}

pre {
  background-color: #282c34;
  border-radius: 5px;
  color: #abb2bf;
}

pre span.function {
  color: #c678dd;
}

pre span.function-name {
  color: #61afef;
}

pre span.parameter {
  color: #98c379;
}

pre span.variable {
  color: #d27377;
}

pre span.php {
  color: #be5046;
}

pre span.array {
  color: #6eb4c0;
}

.has-shadow {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.20);
}

.hero.is-font-awesome {
  background-color: #228ae6;
  border-bottom-style: solid;
  border-color: rgba(0,0,0,.1);
  border-top-style: solid;
  border-width: .5rem;
}

.hero.is-font-awesome .hero-body {
  position: relative;
}

.hero.is-font-awesome .hero-body:before {
  background-image: url(../images/fontawesome.svg);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: -25px;
}

.hero.is-font-awesome a {
  color: #e8f7ff;
}

.hero p .svg-inline--fa {
  margin-right: 1rem;
}

img.is-rounded {
  border-radius: 5px;
}

.footer {
  padding-bottom: 3rem;
}

.media-number {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 60px;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  padding: 1rem;
  width: 1rem;
}

.intro-section .field.is-grouped {
  justify-content: center;
}

.anchor-title {
  position: relative;
}

.anchor-link {
  position: absolute;
  right: calc(100% + 1rem);
  top: 0;
}

@media screen and (max-width: 1279px) {
  .anchor-title {
    padding-left: 2rem;
  }
  .anchor-link {
    left: 0;
    right: auto;
  }
}

@media screen and (max-width: 768px) {
  .has-image-center-mobile {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .foundation-section .column:first-child {
    padding-right: 2rem;
  }

  .advantage-section .column:last-child, .plugin-section .column:last-child {
    padding-left: 2rem;
  }
}
